MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=CitaMed
MYSQL_USER=citamed
MYSQL_PASSWORD=citamed123

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/CitaMed
SPRING_DATASOURCE_USERNAME=citamed
SPRING_DATASOURCE_PASSWORD=citamed123

RENIEC_API_URL=https://app.apiinti.dev/api/v1/dni
RENIEC_API_TOKEN=tu_token_reniec_aqui
STRIPE_SECRET_KEY=sk_test_tu_stripe_key_aqui
PDF_SERVICE_URL=http://pdf-service:3005
GMAIL_EMAIL=tu_email@gmail.com
GMAIL_APP_PASSWORD=tu_password_app_aqui
